<nav>
  <div class="topnav" id="myTopnav">
                <a href="#home" class="active">Chill Dudes</a>
                <a href="/cart"><i class="fa fa-shopping-cart dropbtn" style="font-size: 2rem;"></i> 1</a>
                <a href="/login">Login</a>
                <a href="/brand">Brands</a>
                <a href="">Categories</a>
                <a href="javascript:void(0);" class="icon" onclick="hamburger()">
                  <i class="fa fa-bars"></i>
                </a>
  </div>
</nav>