<% include ../partials/head %>
<% include ../partials/navbar %>
<!--bug to fix-->
<br>
<br>
<br>
<br>
<!--ends here-->
<% include ../partials/search %>
<section id="brand_image" style="background:url(http://theinspirationroom.com/daily/commercials/2017/1/adidas_original_is_never_finished.jpg);  
background-position: center; background-repeat: no-repeat; background-size: cover;">
</section>
<section id="best_offers">
        <h1>All <span style="font-size:3rem; color:darkorange">Categories</span></h1>
        <div class="card-container">
            <div class="card card-item">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Adidas_Logo.svg/2000px-Adidas_Logo.svg.png"
                    alt="" style="width:100%">
                <div class="card-text">
                    <h4>Shoes</h4>
                    <button>View more</button>
    
                </div>
            </div>
    
            <div class="card card-item">
                <img src="https://cdn.logojoy.com/wp-content/uploads/2017/07/Nike_logo_emblem_logotype.png" alt="" style="width:100%">
                <div class="card-text">
                    <h4>T-Shirts</h4>
                    <button>View more</button>
    
                </div>
            </div>
            <div class="card card-item">
                <img src="http://hasshe.com/img/s/CCZy34Z6Yuqvd4KUXif5LgHaHa.jpg" alt="" style="width:100%">
                <div class="card-text">
                    <h4>Socks</h4>
                    <button>View more</button>
    
                </div>
            </div>
            <div class="card card-item">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/22/American_Eagle_Outfitters_logo.svg/1200px-American_Eagle_Outfitters_logo.svg.png"
                    alt="" style="width:100%">
                <div class="card-text">
                    <h4>Jackets</h4>
                    <button>View more</button>
    
                </div>
            </div>
            <div class="card card-item">
                    <img src="https://cdn1.gluestore.com.au/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/b/j/bj8413mlt_-_bj8162nvy_-_ba7760375.jpg"
                        alt="" style="width:100%">
                    <div class="card-text">
                        <h4>Trowser</h4>
                        <button>View more</button>
        
                    </div>
                </div>
    
        </div>
    </section>
    <section id="best_offers">
            <h1>Best <span style="font-size:3rem; color:darkorange">Picks</span></h1>
            <div class="card-container">
                <div class="card card-item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Adidas_Logo.svg/2000px-Adidas_Logo.svg.png"
                        alt="" style="width:100%">
                    <div class="card-text">
                        <h4>Shoes</h4>
                        <button>View more</button>
        
                    </div>
                </div>
        
                <div class="card card-item">
                    <img src="https://cdn.logojoy.com/wp-content/uploads/2017/07/Nike_logo_emblem_logotype.png" alt="" style="width:100%">
                    <div class="card-text">
                        <h4>T-Shirts</h4>
                        <button>View more</button>
        
                    </div>
                </div>
                <div class="card card-item">
                    <img src="http://hasshe.com/img/s/CCZy34Z6Yuqvd4KUXif5LgHaHa.jpg" alt="" style="width:100%">
                    <div class="card-text">
                        <h4>Socks</h4>
                        <button>View more</button>
        
                    </div>
                </div>
                <div class="card card-item">
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/22/American_Eagle_Outfitters_logo.svg/1200px-American_Eagle_Outfitters_logo.svg.png"
                        alt="" style="width:100%">
                    <div class="card-text">
                        <h4>Jackets</h4>
                        <button>View more</button>
        
                    </div>
                </div>
                <div class="card card-item">
                        <img src="https://cdn1.gluestore.com.au/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/b/j/bj8413mlt_-_bj8162nvy_-_ba7760375.jpg"
                            alt="" style="width:100%">
                        <div class="card-text">
                            <h4>Trowser</h4>
                            <button>View more</button>
            
                        </div>
                    </div>
        
            </div>
        </section>
<% include ../partials/footer %>