<% include ../partials/head %>
<% include ../partials/navbar %>
<!--bug to fix-->
<br>
<br>
<br>
<br>
<!--ends here-->
<% include ../partials/search %>
<section id="best_offers">
    <h1>All <span style="font-size:3rem; color:darkorange">Brands</span></h1>
    <div class="card-container">
        <div class="card card-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Adidas_Logo.svg/2000px-Adidas_Logo.svg.png"
                alt="" style="width:100%">
            <div class="card-text">
                <h4>Adidas</h4>
                <button>View more</button>

            </div>
        </div>

        <div class="card card-item">
            <img src="https://cdn.logojoy.com/wp-content/uploads/2017/07/Nike_logo_emblem_logotype.png" alt="" style="width:100%">
            <div class="card-text">
                <h4>Nike</h4>
                <button>View more</button>

            </div>
        </div>
        <div class="card card-item">
            <img src="http://hasshe.com/img/s/CCZy34Z6Yuqvd4KUXif5LgHaHa.jpg" alt="" style="width:100%">
            <div class="card-text">
                <h4>Asics</h4>
                <button>View more</button>

            </div>
        </div>
        <div class="card card-item">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/22/American_Eagle_Outfitters_logo.svg/1200px-American_Eagle_Outfitters_logo.svg.png"
                alt="" style="width:100%">
            <div class="card-text">
                <h4>American Eagle</h4>
                <button>View more</button>

            </div>
        </div>
        <div class="card card-item">
            <img src="https://cdn.logojoy.com/wp-content/uploads/2017/07/Levis_logo_logotype.png" alt="" style="width:100%">
            <div class="card-text">
                <h4>Levis</h4>
                <button>View more</button>

            </div>
        </div>

    </div>
</section>
<% include ../partials/footer %>