<% include ../partials/head %>
<% include ../partials/navbar %>
<!--Fix Bug-->
<br>
<br>
<br>
<br>
<br>
<br>
<!----->
<% include ../partials/search %>
<section id="desktop_cart">
    <table>
        <tr>
            <th>No.</th>
            <th>Product name</th>
            <th>More Info.</th>
            <th>Image</th>
            <th>Delete</th>
        </tr>
        <tr>
            <td>1.</td>
            <td>T-Shirt</td>
            <td>Size: 3 <br> color: blue <br> Quantity: 2 <br> cost: <span class="cost"> $20</span></td>
            <td>
                <center><img src="https://images.pexels.com/photos/19090/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350" /></center>
            </td>
            <td>
                <center><i class="fa fa-close icon" aria-hidden="true"></i></center>
            </td>
        </tr>
        <tr>
            <td>1.</td>
            <td>T-Shirt</td>
            <td>Size: 3 <br> color: blue <br> Quantity: 2 <br> cost: <span class="cost"> $20</span></td>
            <td>
                <center><img src="https://images.pexels.com/photos/19090/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350" /></center>
            </td>
            <td>
                <center><i class="fa fa-close icon" aria-hidden="true"></i></center>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Total</td>
            <td></td>
            <td><span class="cost">$800</span></td>
            <td>
                <center><button>Buy Now</button></center>
            </td>
        </tr>

    </table>
</section>
<section id="mobile_cart">
    <div class="card-container">
        <div class="card card-item">
            <img src="https://images.pexels.com/photos/19090/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350" alt="Avatar"
                style="width:100%">
            <div class="card-text">
                <h4>Sniker 3.0</h4>
                <p>Color:blue</p>
                <p>Quantity:2</p>
                <p>Size:3</p>
                <p><span>Cost:</span><span class="cost"> $200</span></p>
                <button onclick="location.href='#popup'; modal_click()" class="exit"><i class="fa fa-close icon"
                        aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="card card-item">
            
            <div class="card-text">
                    <h1> Total <span class="cost">$800</span></h1>
                <button>Buy</button>
            </div>
        </div>
</section>

<% include ../partials/footer %>

<script>
    if (window.innerWidth <= 700) {
        document.getElementById("desktop_cart").style.display = 'none';
        document.getElementById("mobile_cart").style.display = 'block';
    }
    else {
        document.getElementById("desktop_cart").style.display = 'block';
        document.getElementById("mobile_cart").style.display = 'none';
    }
</script>