<% include ../partials/head %>
<% include ../partials/navbar %>

<section id="home_slider">
<div class="slideshow-container">

    <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img src="https://s3.amazonaws.com/nikeinc/assets/77620/GettyImages-862555188_hd_1600.jpg?1519162973" style="width:100%">
      <div class="text"></div>
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="https://rukminim1.flixcart.com/flap/960/960/image/eed87c.jpg?q=75" style="width:100%">
      <div class="text"></div>
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="https://www.shoesforcrews.com/sfc3/Images/rwd/featured-blocks/home-feature-athletic-img.jpg" style="width:100%">
      <div class="text"></div>
    </div>
    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
    </div>
    </section>
    <section id="best_offers">
        <h1>Best <span style="font-size:3rem; color:darkorange">Current</span> Offers</h1>
        <div class="card-container">
        <div class="card card-item">
                <img src="https://images.pexels.com/photos/19090/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350" alt="Avatar" style="width:100%">
                <div class="card-text">
                  <h4>Sniker 3.0</h4> 
                  <p><span>Previous cost:</span><span class="prev_cost"> $800</span></p> 
                  <p><span>Current cost:</span><span class="current_cost"> $200</span></p>
                  <button>View more</button>
                </div>
             </div>
        <div class="card card-item">
                <img src="https://target.scene7.com/is/image/Target/GUEST_cd1e4c49-1858-46f2-9bae-7061a774e904?wid=488&hei=488&fmt=pjpeg" alt="Avatar" style="width:100%">
                <div class="card-text">
                        <h4>Sniker 3.0</h4> 
                        <p><span>Previous cost:</span><span class="prev_cost"> $800</span></p> 
                        <p><span>Current cost:</span><span class="current_cost"> $200</span></p>
                        <button>View more</button>
                </div>
              </div>
              <div class="card card-item">
                    <img src="https://images.pexels.com/photos/19090/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350" alt="Avatar" style="width:100%">
                    <div class="card-text">
                            <h4>Sniker 3.0</h4> 
                            <p><span>Previous cost:</span><span class="prev_cost"> $800</span></p> 
                            <p><span>Current cost:</span><span class="current_cost"> $200</span></p>
                            <button>View more</button>
                    </div>
                  </div>
                  <div class="card card-item">
                        <img src="https://www.jcrew.com/s7-img-facade/J8493_EG8807?fmt=jpeg&qlt=90,0&resMode=sharp&op_usm=.1,0,0,0&wid=408&hei=408" alt="Avatar" style="width:100%">
                        <div class="card-text">
                                <h4>Sniker 3.0</h4> 
                                <p><span>Previous cost:</span><span class="prev_cost"> $800</span></p> 
                                <p><span>Current cost:</span><span class="current_cost"> $200</span></p>
                                <button>View more</button>
                        </div>
                      </div>
                      <div class="card card-item">
                            <img src="http://kickitonline.com/wp-content/uploads/2018/03/adidasoriginalscampus._CB1512587610_.jpg" alt="Avatar" style="width:100%">
                            <div class="card-text">
                                    <h4>Sniker 3.0</h4> 
                                    <p><span>Previous cost:</span><span class="prev_cost"> $800</span></p> 
                                    <p><span>Current cost:</span><span class="current_cost"> $200</span></p>
                                    <button>View more</button>
                            </div>
                          </div>
                          <div class="card card-item">
                                <img src="https://images.pexels.com/photos/19090/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350" alt="Avatar" style="width:100%">
                                <div class="card-text">
                                        <h4>Sniker 3.0</h4> 
                                        <p><span>Previous cost:</span><span class="prev_cost"> $800</span></p> 
                                        <p><span>Current cost:</span><span class="current_cost"> $200</span></p>
                                        <button>View more</button>
                                </div>
                              </div>
        </div>
    </section>
<% include ../partials/footer %>