<% include ../partials/head %>
<% include ../partials/navbar %>
<section id="login_register">
<div class="login-section">
    <div class="login-section-image"></div>
    <div class="login-section-form">
      <div>
      <h1>Login</h1>
      <form action="" method="POST" id="login-form">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
      </form>
      <div class="form-options">
        <button type="submit" class="" form="login-form">Login</button>
        <br>
        <a href="/register" class="">Create a new account</a>
      </div>
    </div>
    </div>
  </div>
  </section>
  <% include ../partials/head %>
  <% include ../partials/navbar %>
