@import 'partials/color';
@import 'partials/fonts';

#desktop_cart{
    margin: 3rem;
    table{
       background: $white;
       box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
       img{
           height:7rem;
           width: 7rem;
       }
    
       .icon{
           font-size:2rem;
           cursor:pointer;
       }
       .icon:hover{
        transition: 0.3s;
           color:red;
       }
       th{
        font-family: $main_font;
        font-size:1.5rem;
       }

       td{
           font-family: $para_font;
       }
    }
} 