#search_result{
    margin-top:8rem;
    .card-container{
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 10px;
        .card-item {
            padding: 2px;
            text-align: center;
          }         
}
h4{
    .content-narrow{
        h4{
            margin-bottom: 1rem;
        }
    }
}
} 

#cost_min{ 
    font-size: 2rem; 
}
#cost_max{
    font-size: 2rem; 
}

@media screen and (max-width: 600px) {
    #search_result{
        margin-top:1rem;
    .card-container{
     grid-template-columns: auto;
     padding: 0px;
    }
    .search-container{
        grid-template-columns: auto;
    }
}
} 